<div class="row" id="landing-header">
    <div class="login-page">
      <div class="form">
          <form (ngSubmit)="onReset(f)" #f="ngForm" >
              <p class="welcome">Please enter email ID to reset the password.</p>
              <input type="email" id="email" name="email" placeholder="Email" ngModel class="form-control" required>
              <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Reset Password</button>
          </form>
        <p class="message" *ngIf="reset" style="padding-top: 15px; color: blue;">Please check your mail an follow the link to reset the password.</p>    
      </div>
    </div>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>